
<div class="jumbotron text-center">
  <h1>What will Jesus do!</h1>
  <p>{{ message }}</p>
</div>

<div class="row">
  <div class="col-sm-4" *ngFor="let user of users">
    <div class="profile-card" [routerLink]="['/about', user.username]">
      <img [src]="user.avatar" class="img-responsive img-circle" />
      <h2 class="text-center">{{user.name}}</h2>
      <p class="text-center">
        <a href="https://twitter.com/{{user.username}}">{{user.username}}</a>
      </p>
    </div>
  </div>
</div>
